matplotlib==3.3.2
seaborn==0.11.0
streamlit==0.66.0
scikit-learn==0.23.2
pandas==1.1.2
scipy==1.4.1
numpy==1.18.0
fancyimpute==0.5.5
apyori==1.1.2
mlxtend==0.17.3
Boruta==0.3
kmodes==0.10.2
imbalanced-learn==0.7.0
